<!-- TODO(Djeno) : This is just a navbar could use it as a main view-->
<section class="navigation">
	<div class="nav-container">
		<div class="brand">
			<a href="/home"><img class="logo" src="../../img/finallogo.png"></a>
		</div>
		<nav>
			<div class="nav-mobile">
				<a id="nav-toggle" href="#"><span></span></a>
			</div>
			<ul class="nav-list">
				<li>
					<a href="/home" id="home">Home</a>
				</li>
				<li>
					<a href="#">File</a>
					<ul class="nav-dropdown">
						<li>
							<a href="/new" id="new">New file</a>
						</li>
						<li>
							<a href="#" ng-click="newFolder()" id="newFolder">New folder</a>
						</li>
						<li>
							<a href="#">Open file</a>
						</li>
						<li>
							<a href="#">Save file</a>
						</li>
						<li>
							<a href="#">Share file</a>
						</li>
						<li>
							<a href="#">Compile/Interpret</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="/list" id="list">List</a>
				</li>
				<li>
					<a href="/shared" id="shared">Shared</a>
				</li>
				<li id="li_username">
					<a href="#" id="a_username">username</a>
					<ul class="nav-dropdown">
						<li>
							<a href="/signout">Sign Out</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
</section>