<!-- TODO(Stipic) : IN DEVELOPMENT -->
<div class="navbar navbar-inverse navbar-fixed-left">
			<a class="navbar-brand">Preferences</a>
			<ul class="nav navbar-nav">
				<!-- <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Sub Menu1</a></li>
						<li><a href="#">Sub Menu2</a></li>
						<li><a href="#">Sub Menu3</a></li>
						<li class="divider"></li>
						<li><a href="#">Sub Menu4</a></li>
						<li><a href="#">Sub Menu5</a></li>
					</ul>
				</li> -->
				<li id="accountLink2"><a href="#" id="accountLink">Account</a></li>
				<li id="generalLink2"><a href="#" id="generalLink">General</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
			</ul>
		</div>
		<div class="container">

			<div id="account" class="hidden">
				<p>This is account</p>
			</div>


			<div id="general" class="hidden"><br>
				<div class="settings">
					<span class="setting">Javascript editor: <!-- <span class="label label-default">New</span> --></span>
					<span>
						<input type="checkbox" id="jsEditorToggle" checked data-toggle="toggle" data-onstyle="success">
					</span>
				</div>
			</div>
		</div>
		
		<script type="text/javascript">
			$("#accountLink").click(function() {
				$("#general").addClass("hidden");
				$("#generalLink2").removeClass("active");
				$("#account").removeClass("hidden");
				$("#accountLink2").addClass("active");
			});
			$("#generalLink").click(function() {
				$("#account").addClass("hidden");
				$("#accountLink2").removeClass("active");
				$("#general").removeClass("hidden");
				$("#generalLink2").addClass("active");
			});
		</script>
		<script type="text/javascript">
			$("nav ul li a").hover(function(e) {
				$(this).css("background", "#179b77");
				$(this).css("background", e.type === "mouseenter"?"#179b77":"transparent");
				if ($(this).hasClass("active") && e.type !== "mouseenter"){
					$(this).css("background", "#1ab188");
				};

			});
		</script>