* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.arrow {
	margin-top: 5vh;
}

body {
	background-color: #fff;
}

ul.ChatLog {
	list-style: none;
}

.ChatLog {
	/* max-width: 20em; */
	margin: 0 auto;
}
.ChatLog .ChatLog__entry {
	margin: .5em;
}

.ChatLog__entry {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	max-width: 100%;
	margin-top: 1vh;
}

.ChatLog__entry.ChatLog__entry_mine {
	flex-direction: row-reverse;  
}

.ChatLog__avatar {
	flex-shrink: 0;
	flex-grow: 0;
	z-index: 1;
	height: 50px;
	width: 50px;
	border-radius: 25px;

}

.ChatLog__entry.ChatLog__entry_mine 
.ChatLog__avatar {
	display: none;
}

.ChatLog__entry .ChatLog__message {
	position: relative;
	margin: 0 12px;
}

.ChatLog__entry .ChatLog__message::before {
	position: absolute;
	right: auto;
	bottom: .6em;
	left: -12px;
	height: 0;
	content: '';
	border: 6px solid transparent;
	border-right-color: #ddd;
	z-index: 2;
}

.ChatLog__entry.ChatLog__entry_mine .ChatLog__message::before {
	right: -12px;
	bottom: .6em;
	left: auto;
	border: 6px solid transparent;
	border-left-color: #08f;
}

.ChatLog__message {
	background-color: #ddd;
	padding: .5em;
	border-radius: 4px;
	font-weight: lighter;
	max-width: 70%;
}

.ChatLog__entry.ChatLog__entry_mine .ChatLog__message {
	border-top: 1px solid #07f;
	border-bottom: 1px solid #07f;
	background-color: #08f;
	color: #fff;
}

.padding {
	padding: .35em;
}

.ChatLog__message .ChatLog__timestamp {
	/* display: none; */
}

.chatInput {
	width: 80vw;
	margin-left: 10vw;
	z-index: 0;
}

#messageInput {
	position: fixed;
	bottom: 5vh;
}

#scrollToThis {
	height: 12vh;
}

.sentDate {
	display: none;
	margin-left: 1vw;
}

.sentDateMine {
	float: right;
	margin-right: 1vw;
}

.smallMarginRight {
	margin-right: 0.3vw;
}
