a {
  text-decoration: none !important;
}

.container {
  width: 50%;
  margin: 0 auto;
}

img {
    display: block;
    margin: auto;
    width: 70%;
}

.back {
  text-align: center;
  font-size: 20px;
}

.back a {
  text-decoration: none;
  color: #808080;
}

.back a:hover {
  color: #179b77;
}