body {
	width: 100%;
	overflow-x: hidden; 
}

.nav-dropdown {
	z-index: 2;
}

#myeditor {
	margin-left: 10%;
	margin-right: 10%;
	height: 500px;
}

#textarea {
	height: 65vh;
}

.rightbtn {
	float: right;
	margin-right: 10%;
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: #1ab188;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.leftbtn {
	float: left;
	margin-left: 10%;
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: #1ab188;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.leftbtn:hover {
	background-color: #179b77;
}

.floatRight {
	margin-top: -1vh;
	float: right;
}

.more {
	float: left;
	margin: 0;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 20px;
	margin-bottom: 20px;
}

textarea {
	resize: vertical;
}

.compbtn {
	/* float: right;
	margin-bottom: 10px; */
	background-color: #1ab188;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.toggle.android { 
	border-radius: 0px;
}

.toggle.android .toggle-handle {
 	border-radius: 0px; 
}

.btn-info {
	background-color: #1ab188 !important;
}

.btn-info:hover {
	background-color: #179b77 !important;
}

.btn-default {
	color: #808080 !important;
}