body {
	font-family: Raleway;
	overflow-x: hidden;
	width: 100vw;
	padding: 0;
	margin: 0;
}

.firstDiv {
	background-color: white;
	color: #808080;
	width: 100%;
	vertical-align: top;
	display: inline-block;
	text-align: center;
	padding-top: 70px;
	font-weight: 100;
}

.firstDiv #iconFinal {
	width: 20%;
	min-width: 140px;
}

.slogan {
	font-size: 50px;
	padding-bottom: 0;
}

.slogan2 {
	font-size: 35px;
	padding-bottom: 0;
}

.fsDiv {
	margin-top: -10vh;
}

.btnsi {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #1ab188;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

.btnsi:hover {
	background-color: #179b77;
}

.secondDiv {
	background-color: white;
	width: 100%;
	color: #808080;
	vertical-align: top;
	display: inline-block;
	padding: 10px 10%;
	text-align: justify;
}

.thirdDiv {
	background-color: white;
	color: black;
	padding: 20px 20px;
	text-align: center;
}

#columnabout {
	background-color: #f2f2f2;
	color: #808080;
	padding: 10px 0;
	text-align: center;
	margin: 10px 0;
}

#a {
	color: #808080;
	text-align: center;
}

#a p, #columnabout p {
	text-align: justify;
	padding: 0 5%;
}

#a img {
	border-radius: 50%;
	width: 70%
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: white;
}

@media only screen and (max-width: 991px) {
	#a img{
		width: 40vw;
	}
}

.emptyHeight {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50vh;
}

#shareGifId {
	background-color: transparent;
	width: 100%;
	margin-top: 22px;
}

#textarea {
    background-color: #000;
    border: 1px solid #000;
    color: #00ff00;
    padding: 8px;
    font-family: courier new;
    resize: none;
    height: 240px;
}

#console {
	max-width: 100%;
	min-width: 100%;
	height: 240px;
	resize: none;
	padding-left:0;
	padding-top:0;
	padding-bottom:0.4em;
	padding-right: 0.4em;
	font-family:Courier;
	color: #CCCCCC;
	background: #000000;
	border: 3px double #CCCCCC;
	padding: 8px;
}

#scrollDown {
	width: 5em;
}


.footer {
	background: #f2f2f2;
	color: #808080;
	width: 100%;
	vertical-align: top;
	display: inline-block;
	padding: 10px 10%;
}

#editor {
	height: 240px;
	margin-top: 30px;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	/* position: absolute; */
	border: 2px solid #1ab188;
}

#chat {
	height: 240px !important;
	margin-top: 30px !important;

	border: 2px solid #1ab188;
	background-color: white;

	color: black;
	overflow-y: auto;
}

#messageInputHome {
	width: 96%;

	margin-left: 2%;
	margin-right: 2%;

	margin-top: 10px;
	margin-bottom: 10px;
	position: absolute;
	bottom: 10px;
}

.ChatLog__message {
	min-height: 30px;
}

.forgot {
	text-align: right;
}

.forgot a {
	color: #1ab188;
}

.forgot a:hover {
	color: #179b77;
}

#scrollDownGif {
	height: 3em;
	width: 3em;
}

.aClear {
	text-decoration: none;
	color: #808080;
}

.aClear:hover {
	text-decoration: none;
	color: #808080;
}

#cloudeInfo {
	font-size: 20px;
	text-align: left;
	margin-left: 20px;
}

.homeHr {
	border: 1px solid;
	border-bottom: none;
}

#visina {
	margin-bottom: 50px;
}
