.link {
	color: #1ab188;
}

.link:hover {
	color: #179b77;
}


.container-fluid {
  position: relative;
}

.dropdown-menu {
  width: 70vw;
}

.textLeft {
	text-align: left;
	background-color: #1ab188;
}
.textLeft:hover {
	background-color: #179b77;
}

.textLeft:active {
	background-color: #179b77;
}

.textLeft:focus {
	background-color: #179b77;
}
.textLeft:select {
	background-color: #179b77;
}
.folderList {
	width: 70vw;
	margin-bottom: -4vh;
}

#divList {
	width: 70vw;
}

.width10vw {
	width: 10vw;
	z-index: 3;
	margin-left: 1vw;
}
.marginLeft2vw {
	margin-left: 2vw;
}
.right-button {
	margin-right: 1vw;
}
.red {
	color: red;
}
.red:hover {
	color: #cc0000;
}
.dropdown-backdrop {
	position: static;
	z-index: -1;
}
.dropdown.custom:hover .dropdown-menu {
	visibility: visible;
	display:block;
	border-radius:0;
}
.newDropdownFolder {
	margin-left: 15vw;
	margin-right: 15vw;
}
.hidden {
	display: none;
}
.caret.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid ;
}
.right {
	margin-top: 1.5vh;
	float: right;
}
.hidden-border {
	padding-left: 2vw;
	padding-right: 2vw;
	padding-bottom: 2vh;
	padding-top: 2vh;
	border: 1px solid #1ab188;
	border-top: none;
}

.textLeft:active,
.textLeft.active,
.open > .dropdown-toggle.textLeft {
	background-color: #1ab188;
}
.textLeft:active:hover,
.textLeft.active:hover,
.open > .dropdown-toggle.textLeft:hover,
.textLeft:active:focus,
.textLeft.active:focus,
.open > .dropdown-toggle.textLeft:focus,
.textLeft:active.focus,
.textLeft.active.focus,
.open > .dropdown-toggle.textLeft.focus {
	background-color: #1ab188;
}
/* .btn-sm {
	width: 15vw;
} */

.btnright {
	text-align: right;
}

.btnright .btn {
	background-color: #1ab188;
}

.btnright .btn:hover {
	background-color: #179b77;
}

.btnright .btn span {
	color: white;
}
