@charset "UTF-8";

body {
	overflow-x: hidden;
	font-family: Raleway;
}

a {
	text-decoration: none !important;
}

nav {
	float: right;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	float: left;
	position: relative;
}

nav ul li a {
	display: block;
	margin-right: 30px;
	padding: 0 20px;
	line-height: 70px;
	background: #e6e6e6;
	color: #808080;
	text-decoration: none;
}

nav ul li a:hover {
	background: #179b77;
	color: #ffffff;
	text-decoration: none;
}

nav ul li a.active {
	background:#1ab188;
	color: #ffffff;
	text-decoration: none;
}

nav ul li a:visited {
	outline: 0;
	text-decoration: none;
}

nav ul li a:not(:only-child):after {
	padding-left: 4px;
	content: ' ▾';
}

nav ul li ul li {
	min-width: 190px;
}

nav ul li ul li a {
	padding: 15px;
	line-height: 20px;
	z-index: 1;
}

.nav-dropdown {
	position: absolute;
	display: none;
	z-index: 1;
	/*box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);*/
	border-top: solid 1px #808080;
}

.nav-dropdown li a {
	background-color: #e6e6e6;
}

.nav-mobile {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	background: #e6e6e6;
	height: 70px;
	width: 70px;
}

#nav-toggle {
	position: absolute;
	left: 18px;
	top: 22px;
	cursor: pointer;
	padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 5px;
	width: 35px;
	background: #808080;
	position: absolute;
	display: block;
	content: '';
	transition: all 100ms ease-in-out;
}

#nav-toggle span:before {
	top: -10px;
}

#nav-toggle span:after {
	bottom: -10px;
}

#nav-toggle.active span {
	background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
	top: 0;
}

#nav-toggle.active span:before {
	transform: rotate(45deg);
}

#nav-toggle.active span:after {
	transform: rotate(-45deg);
}

/*@media only screen and (max-width: 800px) {
	.nav-mobile {
		display: block;
	}

	nav {
		width: 100%;
		padding: 70px 0 15px;
	}

	nav ul {
		display: none;
	}

	nav ul li {
		float: none;
	}

	nav ul li a {
		padding: 15px;
		line-height: 20px;
	}

	nav ul li ul li a {
		padding-left: 30px;
	}

	.nav-dropdown {
		position: static;
	}
}*/

@media screen and (min-width: 800px) {
	.nav-list {
		display: block !important;
	}
}

.navigation {
	height: 70px;
	background: #e6e6e6;
}

.nav-container {
	max-width: 1000px;
	margin: 0 auto;
}

.brand {
	position: absolute;
	padding-left: 20px;
	float: left;
	line-height: 70px;
	text-transform: uppercase;
	font-size: 1.4em;
}

img.logo {
	height: 70px;
}

#a_username {
	min-width: 10vw;
}

.margin-10 {
	margin-top: 5vh;
	margin-left: 15vw;
	margin-right: 15vw;
}
.item {
	margin-top: 1vh;
}
.nav-dropdown {
	z-index: 2;
}

#loader {
	text-align: center;
	position: relative;
	z-index: -1;
}

img.animated-gif {
	text-align: center;
	width: 75px;
    /* height: 120px; */
	height: auto;
}

#divList {
	position: relative;
}

#allFiles {
	position: relative;
}

/* MODAL ZA LOGIN*/

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}