#editor_container {
	margin-left: 10vw;
	margin-right: 10vw;
   	height: 65vh;
   	position: relative;
   	background-color: transparent;
   	text-align: center;
}
#editor { 
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#title {
	margin-left: 10vw;
	width: 70vw;
}
#select {
	width: 10vw;
	margin-right: 10vw;
}
.margin-top-4 {
	margin-top: 4vh;
}
.no-pointer {
	pointer-events:none;
}
.btn-margin {
	position: absolute;
	bottom: 3vh;
	right: 10vw;
	float: right;
}

.rightbtn {
	float: right;
	margin-right: 10%;
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: #1ab188;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.rightbtn:hover {
	background-color: #179b77;
}