#editor {
	position: absolute;
	top: 100px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

#bookmark {
	position: absolute;
	top: 70px;
	left: 0;
	right: 0;
	height: 30px;
	background-color: #272822;
	color: #ffffff;
	z-index: 2;
	padding-left: 43px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #272822;
    color: white;
    /* padding: 16px; */
    /* font-size: 16px; */
    border: none;
    cursor: pointer;
    height: 30px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #179b77}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #656758;
}

#fileName {
	min-width: 150px;
	color: #272822;
	float: right;
	margin-right: 43px;
	height: 26px;
	margin-top: 2px;
	width: 20vw;
	border: 3px solid #20240E;
}
