.navbar-fixed-left {
	width: 15vw;
	position: fixed;
	border-radius: 0;
	height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
	float: none;  /* Cancel default li float: left */
	width: calc(15vw - 1px);
}

.navbar-fixed-left + .container {
	padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
	margin-top: -50px;
	margin-left: 140px;
}

.hidden {
	display:none;
}

.settings {
	position: relative;
}

.floatRight {
	float: right;
}

.setting {
	font-size: 3.5vmin;
}

a {
	color: #808080;
}

#jsEditorToggle {
	width: 1vw;
}

#preferencesTabs {
	width: 80vw;
	margin-top: 2vh;
	margin-left: 10vw;
}

/* data-style="floatRight" */

.toggle.android { 
	border-radius: 0px;
	margin-left: 20px;
}

.toggle.android .toggle-handle {
 	border-radius: 0px; 
}

.btn-info {
	background-color: #1ab188 !important;
}

.btn-info:hover {
	background-color: #179b77 !important;
}

.btn-default {
	color: #808080 !important;
}