.width10vw {
	width: 10vw;
	z-index: 3;
	margin-left: 1vw;
}
.marginLeft2vw {
	margin-left: 2vw;
}
.right-button {
	margin-right: 1vw;
}
.red {
	color: red;
}
.red:hover {
	color: #cc0000;
}
.btnright {
	text-align: right;
}

.btnright .btn {
	background-color: #1ab188;
}

.btnright .btn:hover {
	background-color: #179b77;
}

.btnright .btn span {
	color: white;
}