*, *:before, *:after {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

body {
	background: white;
	font-family: 'Titillium Web', sans-serif;
}

a {
	text-decoration: none !important;
	color: "#1ab188";
	-webkit-transition: .5s ease;
	transition: .5s ease;
}
a:hover {
	color: #179b77;
}

.form {
	background: #e6e6e6;
	padding: 30px;
	padding-left: 40px;
	padding-right: 40px;
	max-width: 500px;
	margin: 20px auto;

}

img.logo {
	width: 100%;
}

.tab-group {
	list-style: none;
	padding: 0;
	margin: 0 0 40px 0;
}
.tab-group:after {
	content: "";
	display: table;
	clear: both;
}
.tab-group li a {
	display: block;
	text-decoration: none;
	padding: 15px;
	background: lightgray;
	color: #808080;
	font-size: 20px;
	float: left;
	width: 50%;
	text-align: center;
	cursor: pointer;
	-webkit-transition: .5s ease;
	transition: .5s ease;
}
.tab-group li a:hover {
	background: #179b77;
	color: #ffffff;
}
.tab-group .active a {
	background: #1ab188;
	color: #ffffff;
}

.tab-content > div:last-child {
	display: none;
}

h1 {
	text-align: center;
	color: #ffffff;
	font-weight: 300;
	margin: 0 0 40px;
}

label {
	position: absolute;
	-webkit-transform: translateY(6px);
	transform: translateY(6px);
	left: 13px;
	color: #808080;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
	-webkit-backface-visibility: hidden;
	pointer-events: none;
	font-size: 22px;
}

label.active {
	-webkit-transform: translateY(50px);
	transform: translateY(50px);
	left: 2px;
	font-size: 14px;
}
label.active .req {
	opacity: 0;
}

label.highlight {
	color: #808080;
}

input, textarea {
	font-size: 22px;
	display: block;
	width: 100%;
	height: 100%;
	padding: 5px 10px;
	background: none;
	background-image: none;
	border: 1px solid #b3b3b3;
	color: #808080;
	border-radius: 0;
	-webkit-transition: border-color .25s ease, box-shadow .25s ease;
	transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
	outline: 0;
	border-color: #808080;
}

textarea {
	border: 2px solid #cccccc;
	resize: vertical;
}

.field-wrap {
	position: relative;
	margin-bottom: 40px;
}

.top-row:after {
	content: "";
	display: table;
	clear: both;
}
.top-row > div {
	float: left;
	width: 48%;
	margin-right: 4%;
}
.top-row > div:last-child {
	margin: 0;
}

.button {
	border: 0;
	outline: none;
	border-radius: 0;
	padding: 8px 0;
	font-size: 25px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #1ab188;
	color: #ffffff;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-appearance: none;
}
.button:hover, .button:focus {
	background: #179b77;
}

.button-block {
	display: block;
	margin: 0 auto;
	width: 68%;
}

.forgot {
	margin-top: -20px;
	text-align: right;
}

.btn-success {
	width: 50px;
	position: absolute;
	left: calc(50vw - 25px);
	background-color: #1ab188;
}

.btn-success:hover {
	background-color: #179b77;
}
