.dis {
	pointer-events: none;
	opacity: 0.7;
}
.zIndex2 {
	z-index: 2;
}
.green-button {
	background-color: #1ab188;
	color: white;
}
label, button {
	color: #808080;
}

.home {
	color: #808080;
}

#allFiles {
	display: none;
}
