/* button.blue {
	background: #515FB4;
	border: #515FB4;
}

button.blue:hover {
	background: #3D4A98;
}

button.blue:focus {
	background: #2D387D;
}

button.blue:select {
	background: #2D387D;
}

button.blue:active {
	background: #2D387D;
}

button.blue:active:hover {
	background: #2D387D;	
}

.btn.blue {
	background: #515FB4;
}

.btn.blue:active:hover {
	background: #2D387D;
}
.btn.blue:hover {
	background: #3D4A98;
}

span.glyphicon.glyphicon-option-vertical.tempTheme.blue {
	color: #337ab7 !important;
}

.active.blue {
	background: #515FB4;
}

.blue:not(.glyphicon-option-vertical):hover {
	background: #3D4A98;
	color: #ffffff;
	text-decoration: none;
}

.blue-border {
	border: 1px solid #3D4A98;
	border-top: none;
}

button.blue {
	background: #3D4A98;
}
*/