<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<div class="navbar-brand">Cloude</div>
		</div>

		<div id="navbar-brand-centered">
			<ul class="nav navbar-nav">
				<li class="li_button_left btn-info"><a href="javascript:newFile('true');" id="aNewFile">New file</a></li>
				<li class="li_button_left li_button_right btn-info"><a href="/list" id="aOpenFile">Open file</a></li>
				<li class="li_button_right btn-info""><a href="#" id="aSaveFile">Save file</a></li>
				<li class="li_button_right btn-info"><a href="#" id="aCloseFile">Close file</a></li>
			</ul>
		</div>
	</div>
</nav>