<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<div class="navbar-brand">Cloude</div>
		</div>

		<div id="navbar-brand-centered">
			<ul class="nav navbar-nav">
				<li class="li_button_left"><a href="javascript:newFile();">New file</a></li>
				<li class="li_button_left li_button_right"><a href="#">Open file</a></li>
				<li class="li_button_right"><a href="#">Save file</a></li>
				<li class="li_button_right"><a href="#">Close file</a></li>
			</ul>
		</div>
	</div>
</nav>