<!-- TODO(Djeno) : Make a new html file and connect route /chat to this html file -->
<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Cloude - Chat</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" type="text/css" href="../css/nav.css">
	<link rel="stylesheet" type="text/css" href="../css/chat.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="icon" href="../../img/iconfinal.png">
	<link rel="stylesheet" type="text/css" href="/sweetalert-master/dist/sweetalert.css">
	<link href='https://fonts.googleapis.com/css?family=Raleway:400' rel='stylesheet' type='text/css'>
	
	<script src="../CryptoJS/rollups/aes.js"></script>
	<script src="/sweetalert-master/dist/sweetalert.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="../js/module.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
	<script type="text/javascript" src="../js/chat.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
	<script type="text/javascript" src="../js/google.js"></script>

</head>
<!-- TODO(Djeno) : Nested controllers very bad, screws up the performance!! -->
<!-- TODO(Djeno) : MainController is not even used in this file ! -->
<body ng-app="cloude" ng-controller="mainController as main">
	<div ng-controller="chatController as chat" id="chatController">
		<div id="navbar">
			<section class="navigation">
				<div class="nav-container">
					<div class="brand">
						<a href="/home"><img class="logo" src="../../img/finallogo.png"></a>
					</div>
					<nav>
						<div class="nav-mobile">
							<a id="nav-toggle" href="#" ng-click="mobileDropdown()"><span></span></a>
						</div>
						<ul class="nav-list">
							<li>
								<a href="/home" id="home">Home</a>
							</li>
							<li>
								<a href="#">File</a>
								<ul class="nav-dropdown">
									<li>
										<a href="/new" id="new">New file</a>
									</li>
									<li>
										<a href="#" ng-click="newFolder()" id="newFolder">New folder</a>
									</li>
									<!--<li>
										<a href="/home">Open file</a>
									</li>
									<li>
										<a class="dis">Save file</a>
									</li>
									<li>
										<a class="dis">Delete file</a>
									</li>
									<li>
										<a class="dis">Share file</a>
									</li>
									<li>
										<a class="dis">Compile/Interpret</a>
									</li>-->
								</ul>
							</li>
							<li>
								<a href="/shared">Shared</a>
							</li>
							<li>
								<a href="#">Social</a>
								<ul class="nav-dropdown">
									<li>
										<a href="/public">Public</a>
									</li>
									<li>
										<a href="/chat" class="active tempTheme">Chat</a>
									</li>
								</ul>
							</li>
							<li id="li_username">
								<a href="#">{{username}}</a>
								<ul class="nav-dropdown">
									<li>
										<a href="/change">Change password</a>
									</li>
									<li>
										<a href="/preferences">Preferences</a>
									</li>
									<li>
										<a href="/signout">Sign Out</a>
									</li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</section>
		</div>

		<div class="cookie" id="acceptedCookies">
			<p>This website uses cookies to improve user experience. By using our website you consent to all cookies in accordance with our Cookie Policy.</p>
			<button class="btnsi" onclick="javascript:acceptCookies()">I agree</button>
		</div>
		<!--
		<ul class="ChatLog">
			<li class="ChatLog__entry">
				<img class="ChatLog__avatar" src="//placekitten.com/g/50/50" />
				<p class="ChatLog__message">
					Hello!
					<time class="ChatLog__timestamp">6 minutes ago</time>
				</p>
			</li>
			<li class="ChatLog__entry">
				<img class="ChatLog__avatar" src="//placekitten.com/g/50/50" />
				<p class="ChatLog__message">
					What is going on here?
					<time class="ChatLog__timestamp">5 minutes ago</time>
				</p>
			</li>
			<li class="ChatLog__entry ChatLog__entry_mine">
				<img class="ChatLog__avatar" src="//placekitten.com/56/56" />
				<p class="ChatLog__message">
					I have no idea.
					<time class="ChatLog__timestamp">4 minutes ago</time>
				</p>
			</li>
			<li class="ChatLog__entry">
				<img class="ChatLog__avatar" src="//placekitten.com/g/50/50" />
				<p class="ChatLog__message">
					I have a neat idea. Maybe I should explain it to you in detail?
					<time class="ChatLog__timestamp">3 minutes ago</time>
				</p>
			</li>
			<li class="ChatLog__entry ChatLog__entry_mine">
				<img class="ChatLog__avatar" src="//placekitten.com/50/50" />
				<p class="ChatLog__message">
					Sure thing. The more detail the better. In fact, if you could provide definitions for every single term you use, that would be terrific!
					<time class="ChatLog__timestamp">2 minutes ago</time>
				</p>
			</li>
		</ul> -->

		<div id="bodyDiv">
			<div id="outsideRoom"><br>
				<!-- <label>Join room: </label>
				<input type="text" name="room" id="room">
				<button onClick="javascript:joinRoom()">Submit</button> -->

				<form action="javascript:joinRoom()">
					<div class="input-group chatInput">
						<span class="input-group-btn">
							<button class="btn btn-default disabled" type="button">Join room: </button>
						</span>
						<input type="text" class="form-control" name="room" id="room" autocomplete="off">
						<span class="input-group-btn">
							<input class="btn btn-default" type="submit" onClick="javascript:joinRoom()" value="Join">
						</span>
					</div>

				</form>
			</div>

			<div id="insideRoom">
				<div class="arrow"></div>
				<ul id="messages"></ul>
				<div id="scrollToThis"></div>
				<form action="" id="messageInput">
					<!-- <div class="form-group">
						<input type="password" class="form-control" id="m" placeholder="Message" autocomplete="off"><button>Send</button>
					</div> -->
					<div class="input-group chatInput">
						<input type="text" class="form-control" id="m" placeholder="Message" autocomplete="off">
						<span class="input-group-btn">
							<input type="submit" style="position: absolute; left: -9999px" value="Send"/>
							<!-- <input class="btn btn-default" type="submit" value="Send"> -->
							<button class="btn btn-default"><span class="glyphicon glyphicon-send smallMarginRight"></span></button>
						</span>
					</div>
				</form>
			</div>
		</div>

		<script type="text/javascript" src="../js/nav.js"></script>
		<!--TODO(Djeno) : DON'T USE HTML INLINE SCRIPTS this can easily go in the chat js-->
		<script type="text/javascript">
			var iv  = CryptoJS.enc.Base64.parse("#base64IV#");
			window.onload = function () {
				var parameter_room = getUrlParameter("room");
				if (parameter_room != undefined && parameter_room !== ""){
					document.getElementById("insideRoom").style.display = "inline";
					document.getElementById("outsideRoom").style.display = "none";
					angular.element(document.getElementById("chatController")).scope().loadedRoom(parameter_room, iv);
					//document.getElementById("insideRoom").style.visibility = "visible";
				}else{
					document.getElementById("outsideRoom").style.display = "inline";
					document.getElementById("insideRoom").style.display = "none";
					//document.getElementById("outsideRoom").style.visibility = "visible";
				}
			}

			function joinRoom(){
				var room = document.getElementById("room").value;
				window.location = "/chat?room=" + room;
			}

			// Ova funkcija uzima parametar iz URL-a (znaci da ce ".../home?room=123" vratiti "123")
			var getUrlParameter = function getUrlParameter(sParam) {
				var sPageURL = decodeURIComponent(window.location.search.substring(1)),
						sURLVariables = sPageURL.split('&'),
						sParameterName,
						i;

				for (i = 0; i < sURLVariables.length; i++) {
					sParameterName = sURLVariables[i].split('=');

					if (sParameterName[0] === sParam) {
						return sParameterName[1] === undefined ? true : sParameterName[1];
					}
				}
			};

			function loaded (username) {
				/* setTimeout(function () {
					//var username = angular.element(document.getElementById("mainController")).scope().username;
				}, 1000);
				 var username = angular.element(document.querySelector('[ng-controller="mainController"]')).scope().username; */
				//var username = "A";
				var socket = io();

				$("form").submit(function(){
					if ($("#m").val() != "") {
						var encrypted = CryptoJS.AES.encrypt(username + ": " + $("#m").val(), getUrlParameter("room"), {iv: iv}).toString();
						//socket.emit("chat message", (username + ": " + $("#m").val()), getUrlParameter("room"));
						socket.emit("chat message", encrypted, getUrlParameter("room"));
						$("#m").val("");
					}
					return false;
				});
				socket.on("chat message" + getUrlParameter("room"), function(msg){
					var msg = CryptoJS.AES.decrypt(msg, getUrlParameter("room"), {iv: iv}).toString(CryptoJS.enc.Utf8);
					var len = username.length;
					var tmp = msg.substring(0, len);
					var zero1 = "";
					var zero2 = "";
					var zero3 = "";
					var year = new Date().getFullYear();
					var month = new Date().getUTCMonth() + 1;
					var day = new Date().getDate();
					var hours = new Date().getHours();
					var minutes = new Date().getMinutes();
					var seconds = new Date().getSeconds();
					if (hours < 10) zero1 = "0";
					if (minutes < 10) zero2 = "0";
					if (seconds < 10) zero3 = "0";
					var myDate = day + "/" + month + "/" + year + " " + zero1 + hours + ":" + zero2 + minutes + ":" + zero3 + seconds;
					if (tmp == username) {
						var message = msg.substring(len + 1);
						$("#messages").append("<div class='message'><li class=\"ChatLog__entry ChatLog__entry_mine\"><p class=\"ChatLog__message\">" + message.escapeHTML() + "</p></li><small class=\"sentDate sentDateMine\">" + myDate + "</small></div>");
					} else {
						var message = msg.substring(msg.indexOf(":") + 1);
						var user = msg.substring(0, msg.indexOf(":") + 1);
						$("#messages").append("<div class='message'><li class=\"ChatLog__entry\"><span class=\"padding\">" + user + "</span><p class=\"ChatLog__message\">" + message.escapeHTML() + "</p></li><small class='sentDate'>" + myDate + "</small></div>");
					}
					window.scrollTo(0,document.body.scrollHeight);
					//$("#messages").append($("<li>").text(msg));
				});
			}

			function twoDigits(d) {
				if(0 <= d && d < 10) return "0" + d.toString();
				if(-10 < d && d < 0) return "-0" + (-1*d).toString();
				return d.toString();
			}

			Date.prototype.toMysqlFormat = function() {
				return this.getUTCFullYear() + "-" + twoDigits(1 + this.getUTCMonth()) + "-" + twoDigits(this.getUTCDate()) + " " + twoDigits(this.getUTCHours()) + ":" + twoDigits(this.getUTCMinutes()) + ":" + twoDigits(this.getUTCSeconds());
			};

			$('.message').live('click', function() {
				var self = this;
				var sentDate = $(self).children(".sentDate");
				if (sentDate.css("display") == "none") {
					$(self).css("margin-bottom", "3vh");
					sentDate.fadeIn( "slow", function() {
						sentDate.css("display", "inline");
					});
				} else {
					sentDate.fadeOut( "slow", function() {
						sentDate.css("display", "none");
						$(self).css("margin-bottom", "1vh");
					});
				}
			});

			String.prototype.escapeHTML = function () {
				return(
					this.replace(/>/g,'&gt;').
					replace(/</g,'&lt;').
					replace(/"/g,'&quot;')
					);
			};
		</script>
		<!-- <script type="text/javascript">
			$("nav ul li a").hover(function(e) {
				$(this).css("background", "#179b77");
				$(this).css("background", e.type === "mouseenter"?"#179b77":"transparent");
				if ($(this).hasClass("active") && e.type !== "mouseenter"){
					$(this).css("background", "#1ab188");
				};

			});
		</script> -->
		<!-- <script type="text/javascript" src="../js/nav.js"></script> -->
		<script type="text/javascript" src="../js/applyTheme.js"></script>
	</div>
</body>
</html>