<!-- TODO(Djeno) : Make a new html file and connect route /file to this html file -->
<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<title>Cloude</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" type="text/css" href="../css/nav.css">
	<link rel="stylesheet" type="text/css" href="../css/file.css">
	<link rel="stylesheet" type="text/css" href="../css/new.css">
	<link rel="stylesheet" type="text/css" href="../css/themes.css">
	<link rel="icon" href="../../img/iconfinal.png">
	<link rel="stylesheet" type="text/css" href="/sweetalert-master/dist/sweetalert.css">
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400" rel="stylesheet" type="text/css">
	
	<script src="/sweetalert-master/dist/sweetalert.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="./js/ui-ace.min.js"></script>
	<script type="text/javascript" src="../js/module.js"></script>
	<script type="text/javascript" src="../js/file.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	<script type="text/javascript" src="../js/google.js"></script>
</head>
<body ng-app="cloude" ng-controller="mainController as main">
	<div ng-controller="fileController as file" id="fileController">
		<script type="text/javascript">
			var jsEditor = 1;
		</script>
		<div id="navbar">
			<section class="navigation">
				<div class="nav-container">
					<div class="brand">
						<a href="/home"><img class="logo" src="../../img/finallogo.png"></a>
					</div>
					<nav>
						<div class="nav-mobile">
							<a id="nav-toggle" href="#"><span></span></a>
						</div>
						<ul class="nav-list">
							<li>
								<a href="/home" id="home">Home</a>
							</li>
							<li>
								<a href="#">File</a>
								<ul class="nav-dropdown">
									<li>
										<a href="/new" id="new">New file</a>
									</li>
									<li>
										<a href="#" ng-click="newFolder()" id="newFolder">New folder</a>
									</li>
									<!--<li>
										<a href="/home">Open file</a>
									</li>-->
									<li>
										<a onClick="updateFile(jsEditor)" href="#">Save file</a>
									</li>
									<li>
										<a href="#">Move file</a>
									</li>
									<li>
										<a href="#" ng-click="!IsClickEnable||compile(kod, ins)">Compile file</a>
									</li>
									<li>
										<a ng-click="!IsClickEnable||shareFile()" href="#">Share file</a>
									</li>
									<li>
										<a ng-click="!IsClickEnable||deleteFile()" href="#">Delete file</a>
									</li>	
								</ul>
							</li>
							<li>
								<a href="/shared">Shared</a>
							</li>
							<li>
								<a href="#">Social</a>
								<ul class="nav-dropdown">
									<li>
										<a href="/public">Public</a>
									</li>
									<li>
										<a href="/chat">Chat</a>
									</li>
								</ul>
							</li>
							<li id="li_username">
								<a href="#">{{username}}</a>
								<ul class="nav-dropdown">
									<li>
										<a href="/change">Change password</a>
									</li>
									<li>
										<a href="/preferences">Preferences</a>
									</li>
									<li>
										<a href="/signout">Sign Out</a>
									</li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</section>
		</div>
		<div class="cookie" id="acceptedCookies">
			<p>This website uses cookies to improve user experience. By using our website you consent to all cookies in accordance with our Cookie Policy.</p>
			<button class="btnsi" onclick="javascript:acceptCookies()">I agree</button>
		</div>

		<div class="form-group margin-top-4" id="scrollTop">
			<span class="input-group-btn">
				<form>
					<input type="text" class="form-control" ng-model="file.title" id="title">
				</form>
			</span>
			<span class="input-group-btn select-container">
				<form>
					<select class="form-control" name="extension" id="select" ng-model="data.extension" ng-change="extensionChanged()">
						<option ng-repeat="option in data.availableOptions" value="{{option.mode}}" ng-model="option">{{option.name}}</option>
					</select>
				</form>
			</span>
		</div>
		<div id="editor_container">
			<div id="editor"></div>
			<div id="editor2">
				<textarea class="form-control" id="textarea"></textarea>
			</div>
		</div>

		<button id="hideshow" class="leftbtn tempTheme">Show more</button>
		<button onClick="updateFile(jsEditor)" class="rightbtn tempTheme">Save file</button><br>

		<div class="more" id="content">
			Javascript editor:
			<input type="checkbox" id="jsEditorToggle" checked data-toggle="toggle" data-style="android floatRight" data-onstyle="info" data-offstyle="default"><br><br>
			Input:
			<textarea class="form-control" rows="3" ng-model="ins"></textarea>
			<br>
			<button ng-click="compile(kod, ins)" class="compbtn tempTheme">Compile</button><br><br>
			Output:
			<pre><p ng-show="isError" style="color: red">{{error}}</p>{{output}}</pre>
			<br>
		</div>

		<!-- TODO(Djeno) : Put this in header -->
		<script src="../ace-builds-master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
		<script>
			var editor = ace.edit("editor");
		</script>
		<!-- TODO(Djeno) : Get rid of this JQuery -->
		<script>
			jQuery(document).ready(function(){
				document.getElementById("content").style.display = "none";
				var hidden = 1;
				var time = 1200;
				jQuery("#hideshow").live("click", function (event) {
					if (hidden == 1) {
						hidden = 0;
						document.getElementById("content").style.display = "inline";
							document.getElementById("hideshow").innerHTML = "Hide";
						$("html, body").animate({
							scrollTop: $("#content").offset().top
						}, time);
					} else {
						hidden = 1;
						$("html, body").animate({
							scrollTop: 0 }
						, time);
						setTimeout(function () {
							document.getElementById("content").style.display = "none";
							document.getElementById("hideshow").innerHTML = "Show more";
						}, time);
					}
				});

				(function($) {
					$.fn.goTo = function() {
						$('html, body').animate({
							scrollTop: $(this).offset().top + 'px'
						}, 'fast');
						return this; // for chaining...
					}
				})(jQuery);

				document.getElementById("editor2").style.display = "none";
				$("#jsEditorToggle").change(function() {
					if (jsEditor == 1) {
						document.getElementById("editor").style.display = "none";
						document.getElementById("editor2").style.display = "inline";
						jsEditor = 0;
					} else {
						document.getElementById("editor").style.display = "inline";
						document.getElementById("editor2").style.display = "none";
						jsEditor = 1;
					}
					if ($(this).prop("checked")) state = 1;
					else state = 0;
					var data = {state: state};
					$.ajax({
						type: "POST",
						url: "/api/jsEditorToggle",
						data: data
					});
				})
			});

			function updateFile (data) {
				angular.element(document.getElementById("fileController")).scope().updateFile(data);
			}

		</script>
		<!-- <script type="text/javascript">
			$("nav ul li a").hover(function(e) {
				$(this).css("background", "#179b77");
				$(this).css("background", e.type === "mouseenter"?"#179b77":"transparent");
				if ($(this).hasClass("active") && e.type !== "mouseenter"){
					$(this).css("background", "#1ab188");
				};

			});
		</script> -->
		<script type="text/javascript" src="../js/nav.js"></script>
		<script type="text/javascript" src="../js/applyTheme.js"></script>
		<!-- <script type="text/javascript" src="../js/nav.js"></script> -->
	</div>
</body>
</html>