<!-- TODO(Djeno) : Make a new html file and connect route /home to this html file -->
<!-- TODO(Sale/Djeno) : Change div names to something more recognizable -->

<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<title>Cloude - My files</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/nav.css">
	<link rel="icon" href="../../img/iconfinal.png">
	<link rel="stylesheet" type="text/css" href="/sweetalert-master/dist/sweetalert.css">
	<link rel="stylesheet" type="text/css" href="../css/list.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="../css/themes.css">
	
	<script src="/sweetalert-master/dist/sweetalert.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<script type="text/javascript" src="../js/module.js"></script>
	<script type="text/javascript" src="../js/home.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
	<script type="text/javascript" src="../js/google.js"></script>
</head>

<!-- TODO(Djeno) : Nested controllers very bad, screws up the performance!! -->
<!-- TODO(Djeno) : MainController is not even used in this file ! -->
<body ng-app="cloude" ng-controller="mainController as main">
	<div ng-controller="homeController as home" id="homeController">

		<div id="navbar">
			<section class="navigation">
				<div class="nav-container">
					<div class="brand">
						<a href="/home"><img class="logo" src="../../img/finallogo.png"></a>
					</div>
					<nav>
						<div class="nav-mobile">
							<a id="nav-toggle" href="#" ng-click="mobileDropdown()"><span></span></a>
						</div>
						<ul class="nav-list">
							<li>
								<a href="/home" id="home" class="active tempTheme">Home</a>
							</li>
							<li>
								<a href="#">File</a>
								<ul class="nav-dropdown">
									<li>
										<a href="/new" id="new">New file</a>
									</li>
									<li>
										<a href="#" ng-click="newFolder()" id="newFolder">New folder</a>
									</li>
									<!--<li>
										<a href="/home">Open file</a>
									</li>
									<li>
										<a class="dis">Save file</a>
									</li>
									<li>
										<a class="dis">Delete file</a>
									</li>
									<li>
										<a class="dis">Share file</a>
									</li>
									<li>
										<a class="dis">Compile/Interpret</a>
									</li>-->
								</ul>
							</li>
							<li>
								<a href="/shared">Shared</a>
							</li>
							<li>
								<a href="#">Social</a>
								<ul class="nav-dropdown">
									<li>
										<a href="/public">Public</a>
									</li>
									<li>
										<a href="/chat">Chat</a>
									</li>
								</ul>
							</li>
							<li id="li_username">
								<a href="#">{{username}}</a>
								<ul class="nav-dropdown">
									<li>
										<a href="/change">Change password</a>
									</li>
									<li>
										<a href="/preferences">Preferences</a>
									</li>
									<li>
										<a href="/signout">Sign Out</a>
									</li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</section>
		</div>

		<div class="cookie" id="acceptedCookies">
			<p>This website uses cookies to improve user experience. By using our website you consent to all cookies in accordance with our Cookie Policy.</p>
			<button class="btnsi" onclick="javascript:acceptCookies()">I agree</button>
		</div>

		<div id="loader">
			<img class="animated-gif" src="../img/loader.gif">
		</div>
		<!-- <div class="list-group">
			<a href="#" class="list-group-item">First item</a>
			<a href="#" class="list-group-item">Second item</a>
			<a href="#" class="list-group-item">Third item</a>
		</div> -->
		<div id="allFiles">
				<div ng-repeat="folder in home.folders" class="dropdown-toggle">
						<!-- <div class="dropdown btn-block margin-10 folderList" role="menu" aria-labelledby="dropdownMenu">
							<button class="btn btn-success dropdown-toggle btn-block textLeft" type="button" data-toggle="dropdown">{{folder.title}}
								<span class="caret"></span>
								<span class="pull-right">
									<span class="btn btn-xs btn-default" ng-click="deleteFolder(folder.unique_id)">
										<span class="glyphicon glyphicon-remove" style="color: #1ab188" aria-hidden="true"></span>
									</span>
								</span>
							</button>
							<ul class="dropdown-menu" id="folder{{$index}}">
								
							</ul>-->

							<div class="btn-block margin-10 folderList">
								<button class="btn btn-success btn-block textLeft tempTheme" ng-click="openFolder($index)">
									{{folder.title}} <span class="caret right" id="arrow{{$index}}"></span>
								</button>
								<span>
									<div class="hidden hidden-border" id="folder{{$index}}">
									<div class="btnright">
										<button type="button" class="btn tempTheme" title="Delete" ng-click="deleteFolder(folder.unique_id)">
											<span class="glyphicon glyphicon-trash"></span>
										</button>
										<button type="button" class="btn tempTheme" title="Rename" ng-click="renameFolder(folder.unique_id)">
											<span class="glyphicon glyphicon-edit"></span>
										</button>
										<button type="button" class="btn tempTheme" title="Share" ng-click="shareFile(folder.unique_id)">
											<span class="glyphicon glyphicon-share"></span>
										</button>
										<button type="button" class="btn tempTheme" title="Info" ng-click="folderInfo(folder.unique_id)">
											<span class="glyphicon glyphicon-info-sign"></span>
										</button>
									</div>
									
											<!-- <span class="btn btn-xs btn-default" ng-click="deleteFile(file.unique_id)">
												<span class="glyphicon glyphicon-remove" style="color: #1ab188" aria-hidden="true"></span>
											</span> -->
											
												<div class="dropdown">	
													<ul class="dropdown-menu width10vw pull-right"  role="menu" aria-labelledby="dropdownMenu">
														<span class="marginLeft2vw"><a class="red" href="#" ng-click="deleteFile(file.unique_id)">Delete</a></span>
														<span class="btn btn-xs btn-default pull-right right-button" ng-click="deleteFile(file.unique_id)">
															<span class="glyphicon glyphicon-trash red" aria-hidden="true">
															</span>
														</span>
														<ul class="divider"></ul>
														<span class="marginLeft2vw"><a href="#" ng-click="shareFile(file.unique_id)">Share</a></span><br>
														<ul class="divider"></ul>
														<span class="marginLeft2vw"><a href="#" ng-click="fileInfo(file.unique_id)">Info</a></span><br>
														<ul class="divider"></ul>
														<span class="marginLeft2vw"><a href="#" ng-click="download(file.unique_id)">Download</a></span><br>
													</ul>
												</div>
									</div>
								</span>
							</div>

							<!-- <ul class="dropdown-menu">
								<div class="list-group-item item">
									<a href="/file?id={{folder.unique_id}}" class="link">{{folder.title}}</a>
									<span class="pull-right">
										<span class="btn btn-xs btn-default" ng-click="deleteFile(folder.unique_id)">
											<span class="glyphicon glyphicon-remove" style="color: #1ab188" aria-hidden="true"></span>
										</span>
									</span>
								</div>
							</ul> -->
					</div>
			<!-- </div> -->

			<div class="list-group margin-10" id="divList" class="rightClick">
				<div ng-repeat="file in home.files">
					<!-- <a href="/file?id={{file.unique_id}}" class="list-group-item">{{file.title}}.{{file.extension}}<i class="pull-right glyphicon glyphicon-remove"></i></a> -->
					<div class="list-group-item item">
						<a href="/file?id={{file.unique_id}}" class="link">{{file.title}}.{{file.extension}}</a>
						<span class="pull-right">
							<!-- <span class="btn btn-xs btn-default" ng-click="deleteFile(file.unique_id)">
								<span class="glyphicon glyphicon-remove" style="color: #1ab188" aria-hidden="true"></span>
							</span> -->
							<span class="pull-right">
								<div class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<span class="glyphicon glyphicon-option-vertical tempTheme" style="color: #1ab188"></span></a>
											
									<ul class="dropdown-menu width10vw pull-right"  role="menu" aria-labelledby="dropdownMenu">
										<span class="marginLeft2vw"><a class="red" href="#" ng-click="deleteFile(file.unique_id)">Delete</a></span>
										<span class="btn btn-xs btn-default pull-right right-button" ng-click="deleteFile(file.unique_id)">
											<span class="glyphicon glyphicon-trash red" aria-hidden="true">
											</span>
										</span>
										<ul class="divider"></ul>
										<span class="marginLeft2vw"><a href="#" ng-click="shareFile(file.unique_id)">Share</a></span><br>
										<ul class="divider"></ul>
										<span class="marginLeft2vw"><a href="#" ng-click="moveFile(file.unique_id, '')">Move file to...</a></span><br>
										<ul class="divider"></ul>
										<span class="marginLeft2vw"><a href="#" ng-click="fileInfo(file.unique_id)">Info</a></span><br>
										<ul class="divider"></ul>
										<span class="marginLeft2vw"><a href="#" ng-click="download(file.unique_id)">Download</a></span><br>
									</ul>
								</div>
							</span>
						</span>
					</div>
				</div>
			</div>
		</div>
		
		<!--TODO(Djeno) : Get rid of this JQuery, DON'T USE HTML INLINE SCRIPTS-->
		<script type="text/javascript" src="../js/nav.js"></script>
		<script type="text/javascript">
			function fillFolders(appendHtml) {
				setTimeout(function () {
					for (var i = 0; i < appendHtml.length; i++) {
						if (typeof appendHtml[i] === "undefined") {
							appendHtml[i] = "";
						}
						if (appendHtml[i].substring(0, 9) == "undefined") appendHtml[i] = appendHtml[i].substring(9);
						$("#folder" + i).append(appendHtml[i]);
					}
				}, 1000);
			}

			function fileInfo (data) {
				angular.element(document.getElementById("homeController")).scope().fileInfo(data);
			}

			function downloadFile (data) {
				angular.element(document.getElementById("homeController")).scope().download(data);
			}

			function shareFile (data) {
				angular.element(document.getElementById("homeController")).scope().shareFile(data);
			}

			function moveFile (data, data2) {
				angular.element(document.getElementById("homeController")).scope().moveFile(data, data2);
			}

			function deleteFile (data) {
				angular.element(document.getElementById("homeController")).scope().deleteFile(data);
			}

		</script>
		<script type="text/javascript">
			/* $("nav ul li a").hover(function(e) {
				var inDropdown = 0;
				if ($(this).css("background-color") === "#e6e6e6") inDropdown = 1;
				//$(this).css("background", "#179b77");
				//alert($(this).css("background-color"));

				if (inDropdown == 0) {
					$(this).css("background", e.type === "mouseenter"?"#179b77":"transparent");
				} else {
					$(this).css("background", e.type === "mouseenter"?"#179b77":"#e6e6e6");
				}
				if ($(this).hasClass("active") && e.type !== "mouseenter"){
					$(this).css("background", "#1ab188");
				};

			}); */
		</script>
		<!--TODO(Djeno) : Scripts to header!-->
		<script type="text/javascript" src="../js/applyTheme.js"></script>
		<!-- <script type="text/javascript" src="../js/nav.js"></script> -->
	</div>
</body>
</html>