<!-- TODO(Djeno) : Make a new html file ad connect route / to this html file -->
<!-- TODO(Sale/Djeno) : Change div names to something more recognizable -->

<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Cloude - Home</title>

	<!--TODO(Djeno) : Use source of local files dont pull scripts and css from web-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" type="text/css" href="../css/navhome.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/home.css">
	<link rel="icon" href="../../img/iconfinal.png">
	<link rel="stylesheet" type="text/css" href="/sweetalert-master/dist/sweetalert.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="../css/chat.css">
	
	<script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
	<script src="smooth-scroll-master/dist/js/smooth-scroll.js"></script>
	<script src="../ace-builds-master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
	<script src="/sweetalert-master/dist/sweetalert.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	

	<script type="text/javascript" src="../js/module.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript" src="../js/file.js"></script>
	<script type="text/javascript" src="../js/google.js"></script>
</head>
<body ng-app="cloude" ng-controller="indexController as index">
	<div id="start">
		<div id="navbar">
			<section class="navigation">
				<div class="nav-container">
					<div class="brand">
						<a href="/home"><img class="logo" src="../../img/finallogo.png"></a>
					</div>
					<nav>
						<div class="nav-mobile">
							<a id="nav-toggle" href="#"><span></span></a>
						</div>
						<ul class="nav-list">
							<li>
								<a href="#" data-toggle="modal" data-target="#myModal">Sign in <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></a>
							</li>
						</ul>
					</nav>
				</div>
			</section>
		</div>

		  <!-- Modal1 -->
		  <div class="modal fade" id="myModal" role="dialog">
		    <div class="modal-dialog">
		    
		      <!-- SIGNIN MODAL CONTENT-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title">Sign in</h4>
		        </div>
		        <div class="modal-body"><form ng-submit="signin(index.username, index.password)">

					<div id="signin">   

					<form ng-submit="signin(index.username, index.password)">

						<div class="field-wrap">
							<input type="text" class="form-control" placeholder="Username" required autocomplete="off" name="username" id="usernameLogin" ng-model="index.username"/><br>
						</div>

						<div class="field-wrap">
							<input type="password" class="form-control" placeholder="Password" required autocomplete="off" name="password" id="passwordLogin" ng-model="index.password"/><br>
						</div>
						<p class="forgot"><a href="/forgot">Forgot Password?</a></p>

							<button class="btnsi"/>Sign In</button>
					</form><br>

				</div>
		        </div>
		      </div>
		    </div>
		  </div>

		<div class="firstDiv">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<img src="../img/iconfinal.png" id="iconFinal">
				<br><br>
				<p class="slogan">Do you know Cloude?</p>
				
				<a data-scroll href="#info" class="aClear" id="scrollDownAnchor"><p class="podslogan">Scroll down to find out more <img src="../img/scrollDown.gif" id="scrollDownGif"></p></a>
				<br><br>
				<aa href="#" data-toggle="modal" data-target="#myModal2"><button class="btnsi">Sign Up for free!</button></a><br>
			</div>
			<div class="col-md-2"></div>
		</div>

		  <!-- Modal2 -->
		  <div class="modal fade" id="myModal2" role="dialog">
		    <div class="modal-dialog">
		    
		      <!-- SIGNUP MODAL CONTENT-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		          <h4 class="modal-title">Sign up</h4>
		        </div>
		        <div class="modal-body"><form ng-submit="signup(signup.username, signup.password, signup.password2, signup.email)">

					<div id="signup">   

					<form ng-submit="signup(signup.username, signup.password, signup.password2, signup.email)">

						<div class="field-wrap">
							<input type="text" class="form-control" placeholder="Username" required autocomplete="off" name="usernameUp" id="usernameRegister" ng-model="signup.username"/><br>
						</div>

						<div class="field-wrap">
							<input type="email" class="form-control" placeholder="E-mail" required autocomplete="off" name="emailUp" id="emailRegister" ng-model="signup.email"/><br>
						</div>

						<div class="field-wrap">
							<input type="password" class="form-control" placeholder="Password" required autocomplete="off" name="passwordUp" id="passwordRegister" ng-model="signup.password"/><br>
						</div>

						<div class="field-wrap">
							<input type="password" class="form-control" placeholder="Retype password" required autocomplete="off" name="passwordUp2" id="password2Register" ng-model="signup.password2"/><br>
						</div>
						<button class="btnsi"/>Sign Up</button>
					</form><br>

				</div>
		        </div>
		      </div>
		    </div>
		  </div>

		  <div class="firstDiv">
			<div class="col-md-2"></div>
			<div class="col-md-8" id="info">
				<hr class="homeHr">
				<p class="slogan2">What is Cloude?</p>
				<br>
				<ul id="cloudeInfo">
					<li>Cloude is an elegant web application that allows user to work on code and save it in the cloud. Use Cloude to edit, save and compile your code and then work on it later from any device. All your data is encrypted and saved on our servers so they are safe and sound.</li><br>
					<li>We're using advanced and high performance code editor which has syntax highlighting support for over 110 languages.</li><br>
					<li>Secure and fast chat on the go. Chat at home in a browser or take it with you on your phone or tablet.</li>
				</ul>
				<br><hr class="homeHr">
			</div>
			<div class="col-md-2"></div>
		</div>


		<div class="thirdDiv" id="about">
			<div class="row">
			  <div class="col-md-4">
			  	<div class="col-md-2"></div>
			  	<div class="col-md-10" id="columnabout">
			  		<h3>Code for free!</h3>
			  		<p>We have a text editor for code, markup and prose. You can save your files as normal .txt file or as .cpp, .py, and many others.</p>
			  		<div id="editor"><pre>
#include &lt;stdio.h&gt;

int main()
{
	char name[100];
	printf("What is your name? ");
	scanf("%s", name);
	
	printf("Hello, %s!", name);
	return 0;
}
</pre></div>
			  	</div>
			  </div>
			  <div class="col-md-4">
			  	<div class="col-md-1"></div>
			  	<div class="col-md-10" id="columnabout">
			  		<h3>Compile easily</h3>
			  		<p>Also, we have a fast compiler for C++ files. No more complications. Run code right inside browser on any device.</p><br>
			  		<textarea data-limit-rows="true" id="console" rows="2" onkeypress="javascript:checkEnter();">> What is your name? </textarea>

			  	</div>
			  	<div class="col-md-1"></div>
			  </div>
			  <div class="col-md-4">
			  	<div class="col-md-10" id="columnabout">
			  		<h3>Chat with friends</h3>
			  		<!-- <p>You can share your files with your friends. They can get permission to read, write or administrate your file, whatever you want.</p> -->
			  		<p>Cloude offers fully encrypted and protected chat service with rooms so more people can join and participate in conversation.</p>
			  		<!--  <img src="../img/shareGif.gif" id="shareGifId"> -->
			  		<!-- <video width="320" height="240" autoplay loop id="shareGifId">
						<source src="video/shareVideo.mp4" type="video/mp4">
						Your browser does not support the video tag.
					</video> -->
					<div id="chat">
						<div id="messages">
							<div class="message"><li class="ChatLog__entry"><span class="padding">A: </span><p class="ChatLog__message">Hello, this is a simple web chat.</p></li></div>

							<div class="message"><li class="ChatLog__entry"><span class="padding">A: </span><p class="ChatLog__message">It is also possible to have an own chat room, join it by entering room name in Cloude Chat.</p></li></div>
						</div>
						<div id="scrollTo"></div>
						<!-- <div id="visina"></div> -->
						<form action="" id="messageInputHome">
							<!-- <div class="form-group">
								<input type="password" class="form-control" id="m" placeholder="Message" autocomplete="off"><button>Send</button>
							</div> -->
							<div class="input-group chatInput2">
								<input type="text" class="form-control" id="m" placeholder="Message" autocomplete="off">
								<span class="input-group-btn">
									<input type="submit" style="position: absolute; left: -9999px" value="Send"/>
									<!-- <input class="btn btn-default" type="submit" value="Send"> -->
									<button class="btn btn-default"><span class="glyphicon glyphicon-send smallMarginRight"></span></button>
								</span>
							</div>
						</form>
					</div>
			  	</div>
			  </div>
			</div>
		</div>

		<div class="secondDiv">
			<h1>About us</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis congue dui. In hac habitasse platea dictumst. Fusce quis ullamcorper massa, vel iaculis diam. Praesent vel tincidunt augue. Sed pellentesque at purus in hendrerit. Phasellus semper at justo eget faucibus. Nam posuere tellus id euismod congue. Nam gravida, eros vitae auctor tempus, quam ex imperdiet turpis, vel ultricies enim diam a velit. Phasellus vitae lacus ornare, vestibulum sapien vitae, finibus nisi. Aliquam dignissim libero sit amet mauris scelerisque sagittis. Phasellus vel diam finibus, semper sem id, aliquam ante. Vivamus ac aliquam odio. Donec gravida metus ac ligula venenatis, ut vestibulum felis egestas. Sed tellus odio, pretium non mattis nec, scelerisque sit amet augue. Cras vitae leo urna. Ut dapibus nibh eget arcu rutrum elementum.
			<br><br>
			Curabitur nibh elit, posuere ac nibh vitae, ultricies aliquam lectus. In sit amet diam in elit ullamcorper faucibus et lacinia leo. Donec gravida bibendum tortor non porttitor. In laoreet eget leo elementum aliquet. Morbi malesuada eget lacus eu iaculis. Nam imperdiet sed eros mattis condimentum. Nulla in arcu nec ante tincidunt tempus. Duis vitae nulla sit amet augue convallis hendrerit.
			<br><br>
			Cras finibus tincidunt magna, in vehicula nibh porttitor posuere. Maecenas a quam neque. Ut non varius tellus. Aliquam tellus elit, varius nec dignissim viverra, aliquet nec metus. Ut feugiat justo odio, vel rutrum ligula auctor laoreet. Ut a vulputate metus, mollis dapibus est. Donec porttitor convallis ex. Pellentesque nec fringilla leo, a mollis nisl.
			<br><br>
			Duis ac convallis orci, eget sollicitudin orci. Fusce fringilla suscipit purus eget lacinia. Aenean efficitur tortor hendrerit, egestas est a, laoreet arcu. Sed venenatis mi ut elit auctor, vitae luctus elit sodales. Aliquam purus ex, ullamcorper vel metus in, porta vulputate lectus. Curabitur sodales enim imperdiet mollis venenatis. Ut aliquam rutrum mattis.
			<br><br>
			Phasellus blandit tellus eu lacinia egestas. Ut nec lorem massa. Praesent nulla neque, laoreet eu aliquet quis, feugiat a purus. Fusce faucibus tellus a faucibus efficitur. Morbi sollicitudin sapien non ante egestas viverra. Integer fringilla dignissim ipsum eu interdum. Pellentesque at est pretium, lacinia urna ac, tempus nisi. Donec mattis, velit interdum egestas dignissim, arcu leo rutrum diam, sed eleifend nisl est eget felis. Curabitur nec massa eu risus eleifend condimentum. Phasellus mauris velit, semper vel felis eu, viverra ullamcorper sem. Vestibulum quis ullamcorper dolor, eget tempus elit.</p><br><br>
		</div>
		<div class="fourth">
		<div class="row">
			  <div class="col-md-4">
			  	<div class="col-md-4"></div>
			  	<div class="col-md-8" id="a">
			  		<img src="../img/dinogrgic.jpg" width="90%">
			  		<h3>Antonio Stipić</h3>
			  		<p>Curabitur nibh elit, posuere ac nibh vitae, ultricies aliquam lectus. In sit amet diam in elit ullamcorper faucibus et lacinia leo. Donec gravida bibendum tortor non porttitor.</p>
			  		<p>antoniostipic@cloude.tk</p><br>
			  	</div>
			  </div>
			  <div class="col-md-4">
			  	<div class="col-md-2"></div>
			  	<div class="col-md-8" id="a">
			  		<img src="../img/dinogrgic.jpg" width="90%">
			  		<h3>Dino Grgić</h3>
			  		<p>Curabitur nibh elit, posuere ac nibh vitae, ultricies aliquam lectus. In sit amet diam in elit ullamcorper faucibus et lacinia leo. Donec gravida bibendum tortor non porttitor.</p>
			  		<p>dinogrgic@cloude.tk</p><br>
			  	</div>
			  	<div class="col-md-2"></div>
			  </div>
			  <div class="col-md-4">
			  	<div class="col-md-8" id="a">
			  		<img src="../img/dinogrgic.jpg" width="90%">
			  		<h3>Saša Milaković</h3>
			  		<p>Curabitur nibh elit, posuere ac nibh vitae, ultricies aliquam lectus. In sit amet diam in elit ullamcorper faucibus et lacinia leo. Donec gravida bibendum tortor non porttitor.</p>
			  		<p>sasamilakovic@cloude.tk</p><br>
			  	</div>
			  	<div class="col-md-4"></div>
			  </div>
			</div>
		</div>
			
		<div class="footer">
			©CloudeTeam, 2017
		</div>

		<!--TODO(Djeno) : Get rid of this JQuery, DON'T USE HTML INLINE SCRIPTS-->
		<script type="text/javascript">
			var numberOfMessages = 2;

			if (numberOfMessages == 2) {

			}

			$("form").submit(function(){
				if ($("#m").val() != "") {
					$("#messages").append("<div class='message'><li class=\"ChatLog__entry ChatLog__entry_mine\"><p class=\"ChatLog__message\">" + $("#m").val() + "</p></li></div>");
					$("#m").val("");
					if (numberOfMessages == 2) {
						document.getElementById("messageInputHome").style.position = "static";
					}
					numberOfMessages++;
					$("#messageInputHome").focus();
					$("#chat").scrollTop($("#chat").scrollTop() + $("#messageInputHome").position().top);
					//window.scrollTo(0,document.body.scrollHeight);
					$('#scrollTo').animate({
						scrollTop: $("#chat").offset().top
					})
				}
				return false;
			});
		</script>
		<script>
			var editor = ace.edit("editor");
			editor.setTheme("ace/theme/clouds");
			editor.getSession().setMode("ace/mode/c_cpp");
			editor.setReadOnly(true);
		</script>
		<script type="text/javascript">
			$("nav ul li a").hover(function(e) {
				$(this).css("background", "#179b77");
				$(this).css("background", e.type === "mouseenter"?"#179b77":"transparent");
				if ($(this).hasClass("active") && e.type !== "mouseenter"){
					$(this).css("background", "#1ab188");
				};

			});
			$("#console").focus(function () {
				var that = this;
				setTimeout(function(){ that.selectionStart = that.selectionEnd = 10000; }, 0);
			});

			$(document).ready(function () {
				var hash = window.location.hash;
				if (hash == "#start") {
					$("html, body").animate({
						scrollTop: $("#start").offset().top
					}, 0);
				} else if (hash == "#info") {
					document.getElementById("scrollDownAnchor").click();
				}
				smoothScroll.init({
					selector: '[data-scroll]', // Selector for links (must be a class, ID, data attribute, or element tag)
					selectorHeader: null, // Selector for fixed headers (must be a valid CSS selector) [optional]
					speed: 1500, // Integer. How fast to complete the scroll in milliseconds
					easing: 'easeInOutCubic', // Easing pattern to use
					offset: 0, // Integer. How far to offset the scrolling anchor location in pixels
					callback: function ( anchor, toggle ) {} // Function to run after scrolling
				});
				$('textarea[data-limit-rows=true]')
				.on('keypress', function (event) {
					var textarea = $(this),
					text = textarea.val(),
					numberOfLines = (text.match(/\n/g) || []).length + 1,
					maxRows = parseInt(textarea.attr('rows'));

					if (event.which === 13 && numberOfLines === maxRows ) {
						return false;
					}
				});
			});
			var terminalValue = "> What is your name? ";
			$("#console").change(function () {
				var innerValue = $("#console").val();
				if (innerValue.indexOf(terminalValue) < 0) {
					$("#console").val(terminalValue);
				}
			});
			 $("#console").keyup(function() {
				var innerValue = $("#console").val();
				if (innerValue.indexOf(terminalValue) < 0) {
					$("#console").val(terminalValue);
				}
			});

			function checkEnter() {
				var key = window.event.keyCode;

				// If the user has pressed enter
				if (key === 13) {
					if (terminalValue == "> What is your name? ") {
						terminalValue = $("#console").val();
						var position = terminalValue.indexOf("?");
						var name = terminalValue.substring(position + 2);
						$("#console").val(terminalValue + "\nHello, " + name + "!");
						setTimeout(function () {
							terminalValue = $("#console").val();
							$("#console").val(terminalValue + "\n\nExit code: 0");
							$("#console").attr("disabled","disabled"); 
						}, 1000);
					}
				} else {
					return true;
				}
			}

			/* $("#shareGifId").click(function () {
				alert(1);
			}) */

			function scrollDown() {
				/* $('html, body').animate({
				scrollTop: $(".thirdDiv").offset().top
				}, 1000); */
				/* document.querySelector('.thirdDiv').scrollIntoView({ 
					behavior: 'smooth' 
				}); */
				$(".thirdDiv").get(0).scrollIntoView();
			}

			var w = window.innerWidth;
			var h = window.innerHeight;
			if (h > w) {
				$(".modal-dialog").css("width", "90vw");
				$(".modal-dialog").css("margin-top", h / 3.5 + "px");
			}

		</script>
		<script src="js/signin.js"></script>
		<!--TODO(Djeno) : Set all scripts to header not in bottom of the body-->
		<script type="text/javascript" src="../js/nav.js"></script>
		<!-- <script type="text/javascript" src="../js/nav.js"></script> -->
	</div>
</body>
</html>