<!-- TODO(Djeno) : Make a new html file and connect route /new to this html file -->
<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<title>Cloude - New file</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" type="text/css" href="../css/nav.css">
	<link rel="stylesheet" type="text/css" href="../css/new.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/themes.css">
	<link rel="icon" href="../../img/iconfinal.png">
	<link rel="stylesheet" type="text/css" href="/sweetalert-master/dist/sweetalert.css">
	<link href='https://fonts.googleapis.com/css?family=Raleway:400' rel='stylesheet' type='text/css'>
	
	<script src="/sweetalert-master/dist/sweetalert.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="../js/module.js"></script>
	<script type="text/javascript" src="../js/new.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
	<script type="text/javascript" src="../js/file.js"></script>
	<script type="text/javascript" src="../js/google.js"></script>

</head>
<!-- TODO(Djeno) : Nested controllers very bad, screws up the performance!! -->
<!-- TODO(Djeno) : MainController is not even used in this file ! -->
<body ng-app="cloude" ng-controller="mainController as main">
	<div ng-controller="newController as new">

		<div id="navbar">
			<section class="navigation">
				<div class="nav-container">
					<div class="brand">
						<a href="/home"><img class="logo" src="../../img/finallogo.png"></a>
					</div>
					<nav>
						<div class="nav-mobile">
							<a id="nav-toggle" href="#" ng-click="mobileDropdown()"><span></span></a>
						</div>
						<ul class="nav-list">
							<li>
								<a href="/home" id="home">Home</a>
							</li>
							<li>
								<a href="#">File</a>
								<ul class="nav-dropdown">
									<li>
										<a href="/new" id="new" class="active tempTheme">New file</a>
									</li>
									<li>
										<a href="#" ng-click="newFolder()" id="newFolder">New folder</a>
									</li>
									<!--<li>
										<a href="/home">Open file</a>
									</li>-->
									<li>
										<a href="#" ng-click="createFile()">Save file</a>
									</li>
									<!--<li>
										<a class="dis">Delete file</a>
									</li>
									<li>
										<a class="dis">Share file</a>
									</li>
									<li>
										<a class="dis">Compile/Interpret</a>
									</li>-->
								</ul>
							</li>
							<li>
								<a href="/shared">Shared</a>
							</li>
							<li>
								<a href="#">Social</a>
								<ul class="nav-dropdown">
									<li>
										<a href="/public">Public</a>
									</li>
									<li>
										<a href="/chat">Chat</a>
									</li>
								</ul>
							</li>
							<li id="li_username">
								<a href="#">{{username}}</a>
								<ul class="nav-dropdown">
									<li>
										<a href="/change">Change password</a>
									</li>
									<li>
										<a href="/preferences">Preferences</a>
									</li>
									<li>
										<a href="/signout">Sign Out</a>
									</li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</section>
		</div>

		<div class="cookie" id="acceptedCookies">
			<p>This website uses cookies to improve user experience. By using our website you consent to all cookies in accordance with our Cookie Policy.</p>
			<button class="btnsi" onclick="javascript:acceptCookies()">I agree</button>
		</div>

		<div class="form-group margin-top-4">
			<span class="input-group-btn">
				<input type="text" class="form-control" placeholder="Title" id="title">
			</span>
			<span class="input-group-btn">
				<select class="form-control" name="extension" id="select" ng-model="data.extension" ng-change="extensionChanged()">
					<option disabled selected>Extension</option>
					<option ng-repeat="option in data.availableOptions" value="{{option.mode}}">{{option.name}}</option>
				</select>
			</span>
		</div>
		<div id="editor_container">
			<div id="editor"></div>
		</div>

		<button class="rightbtn" ng-click="createFile()">Save file</button>
		<!-- TODO(Djeno) : Put this in header -->
		<script src="../ace-builds-master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
		<!--TODO(Djeno) : DON'T USE HTML INLINE SCRIPTS this can easily go in the new js-->
		<script>
			var editor = ace.edit("editor");
		</script>
		<!-- <script type="text/javascript">
			$("nav ul li a").hover(function(e) {
				$(this).css("background", "#179b77");
				$(this).css("background", e.type === "mouseenter"?"#179b77":"transparent");
				if ($(this).hasClass("active") && e.type !== "mouseenter"){
					$(this).css("background", "#1ab188");
				};

			});
		</script> -->
		<script type="text/javascript" src="../js/nav.js"></script>
		<script type="text/javascript" src="../js/applyTheme.js"></script>
		<!-- <script type="text/javascript" src="../js/nav.js"></script> -->

	</div>
</body>
</html>