<!-- TODO(All) : IN DEVELOPMENT -->
<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<title>Cloude - New HTML project</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" type="text/css" href="../css/nav.css">
	<link rel="stylesheet" type="text/css" href="../css/new.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/themes.css">
	<link rel="stylesheet" type="text/css" href="../css/preferences.css">
	<link rel="stylesheet" type="text/css" href="../css/htmlproject.css">
	<link rel="icon" href="../../img/iconfinal.png">
	<link rel="stylesheet" type="text/css" href="/sweetalert-master/dist/sweetalert.css">
	<link href='https://fonts.googleapis.com/css?family=Raleway:400' rel='stylesheet' type='text/css'>
	
	<script src="/sweetalert-master/dist/sweetalert.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	<script type="text/javascript" src="../js/module.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
	<script type="text/javascript" src="../js/file.js"></script>
	<script type="text/javascript" src="../js/preferences.js"></script>
	<script type="text/javascript" src="../js/new.js"></script>
	<script type="text/javascript" src="../js/google.js"></script>

</head>
<body ng-app="cloude" ng-controller="mainController as main">
	<!-- TODO(Djeno) : 3 controllers? this is bad-->
	<div ng-controller="newController as new">
	<div ng-controller="preferencesController as preferences">

		<div id="navbar">
			<section class="navigation">
				<div class="nav-container">
					<div class="brand">
						<a href="/home"><img class="logo" src="../../img/finallogo.png"></a>
					</div>
					<nav>
						<div class="nav-mobile">
							<a id="nav-toggle" href="#" ng-click="mobileDropdown()"><span></span></a>
						</div>
						<ul class="nav-list">
							<li>
								<a href="/home" id="home">Home</a>
							</li>
							<li>
								<a href="#">File</a>
								<ul class="nav-dropdown">
									<li>
										<a href="/new" id="new" class="active tempTheme">New file</a>
									</li>
									<li>
										<a href="#" ng-click="newFolder()" id="newFolder">New folder</a>
									</li>
									<!--<li>
										<a href="/home">Open file</a>
									</li>-->
									<li>
										<a href="#" ng-click="createFile()">Save file</a>
									</li>
									<!--<li>
										<a class="dis">Delete file</a>
									</li>
									<li>
										<a class="dis">Share file</a>
									</li>
									<li>
										<a class="dis">Compile/Interpret</a>
									</li>-->
								</ul>
							</li>
							<li>
								<a href="/shared">Shared</a>
							</li>
							<li>
								<a href="#">Social</a>
								<ul class="nav-dropdown">
									<li>
										<a href="/public">Public</a>
									</li>
									<li>
										<a href="/chat">Chat</a>
									</li>
								</ul>
							</li>
							<li id="li_username">
								<a href="#">{{username}}</a>
								<ul class="nav-dropdown">
									<li>
										<a href="/change">Change password</a>
									</li>
									<li>
										<a href="/preferences">Preferences</a>
									</li>
									<li>
										<a href="/signout">Sign Out</a>
									</li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</section>
		</div>

		<div class="cookie" id="acceptedCookies">
			<p>This website uses cookies to improve user experience. By using our website you consent to all cookies in accordance with our Cookie Policy.</p>
			<button class="btnsi" onclick="javascript:acceptCookies()">I agree</button>
		</div>

		<div class="form-group margin-top-4">
			<span class="input-group-btn">
				<input type="text" class="form-control" placeholder="Title" id="title">
			</span>
			<span class="input-group-btn">
				<select class="form-control" name="extension" id="select" ng-model="data.extension" ng-change="extensionChanged()">
					<option disabled selected>Extension</option>
					<option ng-repeat="option in data.availableOptions" value="{{option.mode}}">{{option.name}}</option>
				</select>
			</span>
		</div>

		<div id="preferencesTabs">
		<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#html" aria-controls="html" role="tab" data-toggle="tab">HTML</a></li>
				<li role="presentation"><a href="#css" aria-controls="css" role="tab" data-toggle="tab">CSS</a></li>
				<li role="presentation"><a href="#js" aria-controls="js" role="tab" data-toggle="tab">Javascript</a></li>
			</ul>


		<div class="tab-content"><br>
			<div role="tabpanel" class="tab-pane fade in active" id="html">
				<div id="editor_container">
					<div id="editor"></div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="css">
				<div id="editor_container">
					<div id="editor2"></div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="js">
				<div id="editor_container">
					<div id="editor3"></div>
				</div>
			</div>
		</div>
		</div>

		<button class="rightbtn" ng-click="createFile()">Save file</button>

		<script src="../ace-builds-master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
		<script>
			var editor = ace.edit("editor");
			var editor2 = ace.edit("editor2");
			var editor3 = ace.edit("editor3");
		</script>
		<!-- <script type="text/javascript">
			$("nav ul li a").hover(function(e) {
				$(this).css("background", "#179b77");
				$(this).css("background", e.type === "mouseenter"?"#179b77":"transparent");
				if ($(this).hasClass("active") && e.type !== "mouseenter"){
					$(this).css("background", "#1ab188");
				};

			});
		</script> -->
		<script type="text/javascript" src="../js/nav.js"></script>
		<script type="text/javascript" src="../js/applyTheme.js"></script>
		<!-- <script type="text/javascript" src="../js/nav.js"></script> -->
	</div>
	</div>
</body>
</html>