<!-- TODO(Stipic) : IN DEVELOPMENT -->
<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<title>Cloude - Preferences</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	
	<link rel="stylesheet" type="text/css" href="../css/nav.css">
	<link rel="stylesheet" type="text/css" href="../css/preferences.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/themes.css">
	<link rel="icon" href="../../img/iconfinal.png">
	<link rel="stylesheet" type="text/css" href="/sweetalert-master/dist/sweetalert.css">
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Raleway:400' rel='stylesheet' type='text/css'>
	
	<script src="/sweetalert-master/dist/sweetalert.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	<script type="text/javascript" src="../js/module.js"></script>
	<script type="text/javascript" src="../js/preferences.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
	<script type="text/javascript" src="../js/google.js"></script>
</head>
<body ng-app="cloude" ng-controller="mainController as main">
	<div ng-controller="preferencesController as preferences">

		<div id="navbar">
			<section class="navigation">
				<div class="nav-container">
					<div class="brand">
						<a href="/home"><img class="logo" src="../../img/finallogo.png"></a>
					</div>
					<nav>
						<div class="nav-mobile">
							<a id="nav-toggle" href="#" ng-click="mobileDropdown()"><span></span></a>
						</div>
						<ul class="nav-list">
							<li>
								<a href="/home" id="home">Home</a>
							</li>
							<li>
								<a href="#">File</a>
								<ul class="nav-dropdown">
									<li>
										<a href="/new" id="new">New file</a>
									</li>
									<li>
										<a href="#" ng-click="newFolder()" id="newFolder">New folder</a>
									</li>
									<!--<li>
										<a href="/home">Open file</a>
									</li>
									<li>
										<a class="dis">Save file</a>
									</li>
									<li>
										<a class="dis">Delete file</a>
									</li>
									<li>
										<a class="dis">Share file</a>
									</li>
									<li>
										<a class="dis">Compile/Interpret</a>
									</li>-->
								</ul>
							</li>
							<li>
								<a href="/shared">Shared</a>
							</li>
							<li>
								<a href="#">Social</a>
								<ul class="nav-dropdown">
									<li>
										<a href="/public">Public</a>
									</li>
									<li>
										<a href="/chat">Chat</a>
									</li>
								</ul>
							</li>
							<li id="li_username">
								<a href="#">{{username}}</a>
								<ul class="nav-dropdown">
									<li>
										<a href="/change">Change password</a>
									</li>
									<li>
										<a href="/preferences" class="active tempTheme">Preferences</a>
									</li>
									<li>
										<a href="/signout">Sign Out</a>
									</li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</section>
		</div>

		<div class="cookie" id="acceptedCookies">
			<p>This website uses cookies to improve user experience. By using our website you consent to all cookies in accordance with our Cookie Policy.</p>
			<button class="btnsi" onclick="javascript:acceptCookies()">I agree</button>
		</div>

		<div id="preferencesTabs">

			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
				<li role="presentation"><a href="#account" aria-controls="account" role="tab" data-toggle="tab">Account</a></li>
				<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
				<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content"><br>
				<div role="tabpanel" class="tab-pane fade in active" id="general">
					<label>Javascript editor: </label><!-- <span class="label label-default">New</span> -->
					<span>
						<input type="checkbox" id="jsEditorToggle" checked data-toggle="toggle" data-style="android" data-onstyle="info" data-offstyle="default">
					</span>
					<br><br>
					<span>
						<div class="form-group">
							<label>Editor theme:</label>
							<select class="form-control" id="editorThemeSelect" onchange="javascript:changedEditorTheme();">
								<option id="ambiance">ambiance</option>
								<option id="chaos">chaos</option>
								<option id="chrome">chrome</option>
								<option id="clouds">clouds</option>
								<option id="cobalt">cobalt</option>
								<option id="dawn">dawn</option>
								<option id="dreamweaver">dreamweaver</option>
								<option id="eclipse">eclipse</option>
								<option id="github">github</option>
								<option id="iplastic">iplastic</option>
								<option id="katzenmilch">katzenmilch</option>
								<option id="kuroir">kuroir</option>
								<option id="merbivore">merbivore</option>
								<option id="monokai">monokai</option>
								<option id="solarized_dark">solarized_dark</option>
								<option id="solarized_light">solarized_light</option>
								<option id="sqlserver">sqlserver</option>
								<option id="terminal">terminal</option>
								<option id="textmate">textmate</option>
								<option id="tomorrow">tomorrow</option>
								<option id="twilight">twilight</option>
								<option id="xcode">xcode</option>
								
							</select>
						</div>
					</span>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="account">Profile</div>
				<div role="tabpanel" class="tab-pane fade" id="messages">Messages</div>
				<div role="tabpanel" class="tab-pane fade" id="settings">Settings</div>
			</div>

		</div>
		
		<script>
			$( window ).load(function() {
				$(function() {
					$("#jsEditorToggle").change(function() {
						if ($(this).prop("checked")) state = 1;
						else state = 0;
						var data = {state: state};
						$.ajax({
							type: "POST",
							url: "/api/jsEditorToggle",
							data: data
						});
					});
				})
			});

			function changedEditorTheme () {
				var e = document.getElementById("editorThemeSelect");
				var newTheme = e.options[e.selectedIndex].text;
				var data = {newTheme: newTheme};
				$.ajax({
					type: "POST",
					url: "/api/editorThemeChange",
					data: data
				});
			}
		</script>
		<!-- <script type="text/javascript">
			$("nav ul li a").hover(function(e) {
				$(this).css("background", "#179b77");
				$(this).css("background", e.type === "mouseenter"?"#179b77":"transparent");
				if ($(this).hasClass("active") && e.type !== "mouseenter"){
					$(this).css("background", "#1ab188");
				};

			});
		</script> -->
		<script type="text/javascript" src="../js/nav.js"></script>
		<script type="text/javascript" src="../js/applyTheme.js"></script>
		<!-- <script type="text/javascript" src="../js/nav.js"></script> -->
	</div>
</body>
</html>