<!-- TODO(Djeno) : Make a new html file and connect route /public/file or something like that to this html file -->
<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<title>Cloude</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" type="text/css" href="../css/nav.css">
	<link rel="stylesheet" type="text/css" href="../css/file.css">
	<link rel="stylesheet" type="text/css" href="../css/new.css">
	<link rel="icon" href="../../img/iconfinal.png">
	<link rel="stylesheet" type="text/css" href="/sweetalert-master/dist/sweetalert.css">
	<link href='https://fonts.googleapis.com/css?family=Raleway:400' rel='stylesheet' type='text/css'>
	
	<script src="/sweetalert-master/dist/sweetalert.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="../js/module.js"></script>
	<script type="text/javascript" src="../js/publicFile.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
</head>
<body ng-app="cloude" ng-controller="mainController as main">
	<div ng-controller="publicFileController as publicFile">

		<div id="navbar">
			<section class="navigation">
				<div class="nav-container">
					<div class="brand">
						<a href="/home"><img class="logo" src="../../img/finallogo.png"></a>
					</div>
					<nav>
						<div class="nav-mobile">
							<a id="nav-toggle" href="#"><span></span></a>
						</div>
						<ul class="nav-list">
							<li>
								<a href="/home" id="home">Home</a>
							</li>
							<li>
								<a href="#">File</a>
								<ul class="nav-dropdown">
									<li>
										<a href="/new" id="new">New file</a>
									</li>
									<li>
										<a href="#" ng-click="!IsClickEnable||newFolder()" id="newFolder">New folder</a>
									</li>
									<li>
										<a href="/list">Open file</a>
									</li>
									<li>
										<a ng-click="!IsClickEnable||updateFile()" href="#">Save file</a>
									</li>
									<li>
										<a ng-click="!IsClickEnable||deleteFile()" href="#">Delete file</a>
									</li>
									<li>
										<a ng-click="!IsClickEnable||shareFile()" href="#">Share file</a>
									</li>
									<li>
										<a href="#">Compile/Interpret</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="/list" id="list">List</a>
							</li>
							<li>
								<a href="/shared">Shared</a>
							</li>
							<li id="li_username">
								<a href="#">{{username}}</a>
								<ul class="nav-dropdown" ng-show="logged">
									<li>
										<a href="/change">Change password</a>
									</li>
									<li>
										<a href="/preferences">Preferences</a>
									</li>
									<li>
										<a href="/signout">Sign Out</a>
									</li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</section>
		</div>

		<div class="form-group margin-top-4" id="scrollTop">
			<span class="input-group-btn">
				<form>
					<input type="text" class="form-control" ng-model="title" id="title">
				</form>
			</span>
			<span class="input-group-btn select-container">
				<form>
					<select class="form-control" name="extension" id="select" ng-model="data.extension" ng-change="extensionChanged()">
						<option ng-repeat="option in data.availableOptions" value="{{option.mode}}" ng-model="option">{{option.name}}</option>
					</select>
				</form>
			</span>
		</div>
		<div id="editor_container">
			<div id="editor"></div>
		</div>

		<button id="hideshow" class="leftbtn">Show more</button>

		<div class="more" id="content">
			Input:
			<textarea class="form-control" rows="3" ng-model="ins"></textarea>
			<br>
			<button ng-click="compile(kod, ins)" class="compbtn">Compile</button><br><br>
			Output:
			<pre><p ng-show="isError" style="color: red">{{error}}</p>{{output}}</pre>
			<br>
		</div>

		<!-- TODO(Djeno) : Switch this JQeury to Angular -->
		<script src="../ace-builds-master/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
		<script>
			var editor = ace.edit("editor");
			editor.setTheme("ace/theme/xcode");
		</script>
		<script>
			jQuery(document).ready(function(){
				document.getElementById("content").style.display = "none";
				var hidden = 1;
				var time = 1200;
				jQuery("#hideshow").live("click", function (event) {
					if (hidden == 1) {
						hidden = 0;
						document.getElementById("content").style.display = "inline";
							document.getElementById("hideshow").innerHTML = "Hide";
						$("html, body").animate({
							scrollTop: $("#content").offset().top
						}, time);
					} else {
						hidden = 1;
						$("html, body").animate({
							scrollTop: 0 }
						, time);
						setTimeout(function () {
							document.getElementById("content").style.display = "none";
							document.getElementById("hideshow").innerHTML = "Show more";
						}, time);
					}
				});

				(function($) {
					$.fn.goTo = function() {
						$('html, body').animate({
							scrollTop: $(this).offset().top + 'px'
						}, 'fast');
						return this; // for chaining...
					}
				})(jQuery);
			});

		</script>
		<!-- <script type="text/javascript">
			$("nav ul li a").hover(function(e) {
				$(this).css("background", "#179b77");
				$(this).css("background", e.type === "mouseenter"?"#179b77":"transparent");
				if ($(this).hasClass("active") && e.type !== "mouseenter"){
					$(this).css("background", "#1ab188");
				};

			});
		</script> -->
		<script type="text/javascript" src="../js/nav.js"></script>
		<!-- <script type="text/javascript" src="../js/nav.js"></script> -->
	</div>
</body>
</html>