<!-- TODO(Djeno) : Make a new html file and connect route /public to this html file -->
<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<title>Cloude - Public</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" type="text/css" href="../css/nav.css">
	<link rel="stylesheet" type="text/css" href="../css/shared.css">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/themes.css">
	<link rel="icon" href="../../img/iconfinal.png">
	<link rel="stylesheet" type="text/css" href="/sweetalert-master/dist/sweetalert.css">
	<link rel="stylesheet" type="text/css" href="../css/list.css">
	<link href='https://fonts.googleapis.com/css?family=Raleway:400' rel='stylesheet' type='text/css'>
	
	<script src="/sweetalert-master/dist/sweetalert.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script type="text/javascript" src="../js/module.js"></script>
	<script type="text/javascript" src="../js/public.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
	<script type="text/javascript" src="../js/google.js"></script>
</head>
<body ng-app="cloude" ng-controller="mainController as main">
	<div ng-controller="publicController as public">

		<div id="navbar">
			<section class="navigation">
				<div class="nav-container">
					<div class="brand">
						<a href="/home"><img class="logo" src="../../img/finallogo.png"></a>
					</div>
					<nav>
						<div class="nav-mobile">
							<a id="nav-toggle" href="#" ng-click="mobileDropdown()"><span></span></a>
						</div>
						<ul class="nav-list">
							<li>
								<a href="/home" id="home">Home</a>
							</li>
							<li>
								<a href="#">File</a>
								<ul class="nav-dropdown">
									<li>
										<a href="/new" id="new">New file</a>
									</li>
									<li>
										<a href="#" ng-click="newFolder()" id="newFolder">New folder</a>
									</li>
									<!--<li>
										<a href="/home">Open file</a>
									</li>
									<li>
										<a class="dis">Save file</a>
									</li>
									<li>
										<a class="dis">Delete file</a>
									</li>
									<li>
										<a class="dis">Share file</a>
									</li>
									<li>
										<a class="dis">Compile/Interpret</a>
									</li>-->
								</ul>
							</li>
							<li>
								<a href="/shared">Shared</a>
							</li>
							<li>
								<a href="#">Social</a>
								<ul class="nav-dropdown">
									<li>
										<a href="/public" class="active tempTheme">Public</a>
									</li>
									<li>
										<a href="/chat">Chat</a>
									</li>
								</ul>
							</li>
							<li id="li_username">
								<a href="#">{{username}}</a>
								<ul class="nav-dropdown">
									<li>
										<a href="/change">Change password</a>
									</li>
									<li>
										<a href="/preferences">Preferences</a>
									</li>
									<li>
										<a href="/signout">Sign Out</a>
									</li>
								</ul>
							</li>
						</ul>
					</nav>
				</div>
			</section>
		</div>

		<div class="cookie" id="acceptedCookies">
			<p>This website uses cookies to improve user experience. By using our website you consent to all cookies in accordance with our Cookie Policy.</p>
			<button class="btnsi" onclick="javascript:acceptCookies()">I agree</button>
		</div>

		<div id="loader">
			<img class="animated-gif" src="../img/loader.gif">
		</div>

		<div class="list-group margin-10" id="divList">
			<div class="item" ng-repeat="file in public.files">
				<div class="list-group-item">
					<span>
						<a href="/file?id={{file.unique_id}}" class="link">{{file.title}}.{{file.extension}}</a>
					</span>
					<span class="pull-right">

							<div class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<span class="glyphicon glyphicon-option-vertical" style="color: #1ab188"></span></a>
									
								<span class="dropdown-menu width10vw pull-right">
									<span class="marginLeft2vw"><a href="#" ng-click="fileInfo(file.unique_id)">Info</a></span><br>
								</span>
							</div>
					</span>
				</div>
			</div>
		</div>

		<!-- <script type="text/javascript">
			$("nav ul li a").hover(function(e) {
				$(this).css("background", "#179b77");
				$(this).css("background", e.type === "mouseenter"?"#179b77":"transparent");
				if ($(this).hasClass("active") && e.type !== "mouseenter"){
					$(this).css("background", "#1ab188");
				};

			});
		</script> -->
		<!-- TODO(Djeno) : Put scripts in the header -->
		<script type="text/javascript" src="../js/nav.js"></script>
		<script type="text/javascript" src="../js/applyTheme.js"></script>
		<!-- <script type="text/javascript" src="../js/nav.js"></script> -->
	</div>
</body>
</html>