<!-- TODO(Djeno) : Make a new html file and connect route /signin to this html file -->
<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<title>Cloude - Sign In</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="css/signin.css">
	<link rel="icon" href="../../img/iconfinal.png">
	<link rel="stylesheet" type="text/css" href="/sweetalert-master/dist/sweetalert.css">
	<link href='https://fonts.googleapis.com/css?family=Raleway:400' rel='stylesheet' type='text/css'>
	
	<script src="/sweetalert-master/dist/sweetalert.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
	<script type="text/javascript" src="../js/google.js"></script>
	<meta name="Description" content="Web application for online programming and saving files securely">

</head>
<body ng-app="cloude">
	<div ng-controller="signinController as signin">
		<div class="form">

			<img src="../../img/finallogo.png" class="logo">

			<ul class="tab-group">
				<li class="tab active"><a href="#signin">SignIn</a></li>
				<li class="tab" id="signupLi"><a href="#signup" id="signupA">SignUp</a></li>
			</ul>

			<div class="tab-content">

				<div id="signin">   

					<form ng-submit="signin(signin.username, signin.password)">

						<div class="field-wrap">
							<label>
								username
							</label>
							<input type="text" required autocomplete="off" name="username" id="usernameLogin" ng-model="signin.username"/>
						</div>

						<div class="field-wrap">
							<label>
								password
							</label>
							<input type="password" required autocomplete="off" name="password" id="passwordLogin" ng-model="signin.password"/>
						</div>

						<!--<p class="forgot"><a href="#">Forgot Password?</a></p>-->

							<button class="button button-block"/>Sign In</button>
							<br><button class="btn btn-success" onclick="window.location = '/'; return false;"><span class="glyphicon glyphicon-home" style="color:#808080;text-align: center;"></span></button>
					</form><br>

				</div>

				<!--///////////////////////////////////////////-->


				<div id="signup">   

					<form ng-submit="signup(signup.username, signup.password, signup.password2)">

						<div class="field-wrap">
							<label>
								username
							</label>
							<input type="text" required autocomplete="off" name="usernameUp" id="usernameRegister" ng-model="signup.username" />
						</div>

						<div class="field-wrap">
							<label>
								password
							</label>
							<input type="password" required autocomplete="off" name="passwordUp" id="passwordRegister" ng-model="signup.password" />
						</div>

						<div class="field-wrap">
							<label>
								re-enter password
							</label>
							<input type="password" required autocomplete="off" name="passwordUp2" id="password2Register" ng-model="signup.password2" />
						</div>

						<button type="submit" class="button button-block"/>Sign Up</button>
						<br><button class="btn btn-success" onclick="window.location = '/'; return false;"><span class="glyphicon glyphicon-home" style="color:#808080;text-align: center;"></span></button>

					</form><br>

				</div>

			</div><!-- tab-content -->

		</div> <!-- /form -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<!-- <script type="text/javascript">
			$( window ).load(function() {
				window.location.hash = '#signup';
				
			});
		</script> -->

		<!-- TODO(Djeno) : Get rid of this JQuery-->
		<script type="text/javascript">
			function eventFire(el, etype){
				if (el.fireEvent) {
					el.fireEvent('on' + etype);
				} else {
					var evObj = document.createEvent('Events');
					evObj.initEvent(etype, true, false);
					el.dispatchEvent(evObj);
				}
			}

			function getParameterByName(name, url) {
				if (!url) {
					url = window.location.href;
				}
				name = name.replace(/[\[\]]/g, "\\$&");
				var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
				results = regex.exec(url);
				if (!results) return null;
				if (!results[2]) return '';
				return decodeURIComponent(results[2].replace(/\+/g, " "));
			}

			$(document).ready(function() {
				var where = getParameterByName("go");
				if (where == "signup") eventFire(document.getElementById("signupA"), "click");
			});
		</script>
		<script src="js/signin.js"></script>
	</div>
</body>
</html>
